<div class="card col-12 col-md-10 p-3 mx-auto hoverable">
    <p>League Position: <%= @clubStats.leaguePosition_overall%></p>
    <p>Goals Scored: <%= @clubStats.seasonGoals_overall %></p>
    <p>Goals Conceded: <%= @clubStats.seasonConceded_overall %></p>
    <p>League Matches played: <%= @clubStats.seasonMatchesPlayed_overall %></p>
    <p>League Wins: <%= @clubStats.seasonWinsNum_overall %></p>
    <p>League Draws: <%= @clubStats.seasonDrawsNum_overall %></p>
    <p>Leage Defeats: <%= @clubStats.seasonLossesNum_overall %></p>
    <p>Clean Sheets: <%= @clubStats.seasonCS_overall %></p>
    <p>Corners: <%= @clubStats.cornersTotal_overall %></p>
    <p>Shots: <%= @clubStats.shotsTotal_overall %></p>
    <p>Shots on Target: <%= @clubStats.shotsOnTargetTotal_overall %></p>
    <p>Average Possession: <%= @clubStats.possessionAVG_overall %></p>
    <p>Fouls: <%= @clubStats.foulsTotal_overall %></p>
    <p>Offisdes: <%= @clubStats.offsidesTotal_overall %></p>
</div>