<h1><%= @club.name %> <%= image_tag @club.image %></h1>

<%= render "/favourites/add_or_remove" %>

<p>Country: <%= @club.country.name %></p>
<p>Founding Year: <%= @club.founded %></p>
<p><%= @club.competition.name %></p>
<p>League Position: <%= @clubStats.leaguePosition_overall%></p>
<p>Stadium: <%= @club.stadium.name %></p>
<p>Average Attendance: <%= @clubStats.average_attendance_home %></p>
<p>Goals Scored: <%= @clubStats.seasonGoals_overall %></p>
<p>Goals Conceded: <%= @clubStats.seasonConceded_overall %></p> 


<% @stats_array.each do |stat| %>
  <h4>Most <%= stat.titleize %></h4>
  <% @club.getTopStat(stat).each_with_index do |player, i|%>
    <p><%= i+1 %>. <%= player[:name]%>: <%= player[:num_stat] %></p>
  <% end %>
<% end %>




<h2> <%= "#{@club.name}" %> Players </h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Age</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= link_to player.country.name, country_path(player.country) %></td>
        <td><%= player.birthday %></td>
        <td><%= player.position.name %></td>
      
        
      </tr>
    <% end %>
  </tbody>
</table>


 <%= link_to 'Back', url_for(:back) %>