<li class="nav-item">
    <a class="nav-link <%= "active" if link_no == 0 %>" id="pills-<%= content %>-tab" data-toggle="pill" href="#pills-<%= content %>" role="tab"
    aria-controls="pills-<%= content %>" aria-selected="false"><%= content.titleize%></a>
</li>