<div class="container">
    <%= render "/layouts/main_title", :content => "All Competitions" %>

    <% @competitions.each do |competition|%>
        <div class="text-center p-5">
            <div class="card p-3 hoverable">
                <h2><%= link_to competition.name, competition %></h2>
                <% byebug %>
                <%=competition.clubs.size%> Teams competing in <%=competition.country%>.<br/><br/>

                <h4>League Table Preview</h4>

                <%= render "/competitions/league_table", {
                    :competition => competition,
                    :num_teams => 4
                    } %>

            </div>
        </div>
        

    <% end %>
</div>