<h1>Favourite Form</h1>

<%= form_for @fav do |f| %>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %><br>

    <%= f.label :club_id %>
    <%= f.text_field :club_id %><br>

    <%= f.submit "Add as favourite"%>
<% end %>