<div class="card col-12 col-md-10 mx-auto hoverable">
  
    <h1> <%= @player.name %> </h1>
    <p>Position: <%= @player.position.name %></p>
    <p>Club: <%= link_to @player.club.name, @player.club %></p>
    <p>League: <%= link_to @player.competition.name, @player.competition %></p>
    <p>Age: <%= @player.age %></p>
    <p>Country: <%= @player.country.name %></p>
    <p><%= @player.birthdate %></p>
    <p>Home: <%= @player.club.stadium.name %></p>

</div>