<div class="card col-12 col-md-10 mx-auto hoverable">
  
    <% if @player.position_id ==  1 %>
    <p>Clean Sheets: <%= @player.playerStat.clean_sheets_overall %></p>
    <p>Goals Conceded: <%= @player.playerStat.conceded_overall %></p>   
    <% else %>
    <p>Goals Scored: <%= @player.playerStat.goals_overall %></p>
    <p>Assists: <%= @player.playerStat.assists_overall %></p>
    <p>Converted Penalties: <%= @player.playerStat.penalty_goals %></p>
    <% end %>

    <p>League Appearances: <%= @player.playerStat.appearances_overall %></p>
    <p>Minutes Played: <%= @player.playerStat.minutes_played_overall %></p>
    <p>Penalty Misses: <%= @player.playerStat.penalty_misses %></p>
    <p>Yellow Cards: <%= @player.playerStat.yellow_cards_overall %></p>
    <p>Red Cards: <%= @player.playerStat.red_cards_overall %></p>


</div>





