<h1> <%= "#{@player.name}" %> </h1>

 
<table>
  <thead>
    <tr>
  
      <th>Country</th>
      <th>Age</th>
      <th>Position</th>
      <th>Club</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
  
      <tr>
     
        <td><%= link_to @player.country.name, country_path(@player.country) %></td>
        <td><%= @player.birthday %></td>
        <td><%= @player.position.name %></td>
        <td><%= link_to @player.club.name, club_path(@player.club) %></td>
        
      </tr>

  </tbody>
</table>

<%= link_to 'Back', url_for(:back) %>