<div class="p-3">
    <div class="card col-10 mx-auto hoverable">

        <table class="table text-center">
            <thead>
                <tr class="row">
                    <td class="col-4"><%= image_tag match.home_club.image, size: "50x50" %></td>
                    <td class="col-4"><h4 class="pt-3">VS</h4></td>
                    <td class="col-4"><%= image_tag match.away_club.image, size: "50x50" %></td>  
                </tr>   
                <tr class="row">
                    <th class="col-4" scope="col"><%= link_to match.home_club_name, match.home_club %></th>
                    <th class="col-4" scope="col">-</th>
                    <th class="col-4" scope="col"><%= link_to match.away_club_name, match.away_club %></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-4"><%= match.home_goal_count %></td>
                    <td class="col-4">Goals</td>
                    <td class="col-4"><%= match.away_goal_count%></td>  
                </tr> 
                <% @match_stats_array.each do |stat| %>
                    <tr class="row">
                        <td class="col-4"><%= match.getStat(stat)[:team_a_stat] %></td>
                        <td class="col-4"><%= stat.titleize %></td>
                        <td class="col-4"><%= match.getStat(stat)[:team_b_stat] %></td>  
                    </tr>   
                <% end %>
            </tbody>
        </table>
        
    </div>
</div>