<li class="nav-item">
    <a class="nav-link <%= "active" if page_no == 1%>" id="pills-<%= page_no %>-tab" data-toggle="pill" href="#pills-<%= page_no %>" role="tab"
    aria-controls="pills-<%= page_no %>" aria-selected="true">Page <%= page_no %></a>
</li>